<% provide(:title, 'About Us') %>
<h1>About DKF Solutions</h1>
<div>
  DKF Solutions Group specializes in risk management solutions for wastewater agencies and sewer districts. Our mission is to provide wastewater agencies of all sizes and budgets with solutions that are:
</div>
<ul>
  <li>Cost effective</li>
  <li>Industry-specific</li>
  <li>Easy to use</li>
</ul>
<div>Our continually growing suite of products reflects our commitment to providing wastewater agencies with superior procedures, programs, services and applications. We focus on offering the most comprehensive, up-to-date information and packaging it to be implemented into daily operations immediately.</div>
<div>With two decades of innovative wastewater industry safety and loss control consulting experience, DKF Solutions Group has the knowledge, experience and inspiration to help agencies manage risk through highly-effective programs and procedures.</div>