<% provide(:title, 'Home') %>
<h1>DKF Translator</h1>
<p>The home page for the translator. Lots more to come!</p>
<ul>
  <li>Search</li>
  <li>Definition Layouts</li>
  <li>User Accounts</li>
  <li>Bookmarks</li>
  <li>and more...</li>
</ul>

