<footer class='center'>
  <div class='row'>
    <div class='span4 footer-links'>
      <h3>A footer heading</h3>
      <ul>
        <li><a href='#'>A footer link</a></li>
        <li><a href='#'>A footer link</a></li>
        <li><a href='#'>A footer link</a></li>
      </ul>
    </div>
    <div class='span4 footer-links'>
      <h3>A footer heading</h3>
      <ul>
        <li><a href='#'>A footer link</a></li>
        <li><a href='#'>A footer link</a></li>
        <li><a href='#'>A footer link</a></li>
      </ul>
    </div>
    <div class='span4 footer-links'>
      <h3>A footer heading</h3>
      <ul>
        <li><a href='#'>A footer link</a></li>
        <li><a href='#'>A footer link</a></li>
        <li><a href='#'>A footer link</a></li>
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class='span12 copyright'>
      <p>&#169; 2011 DKF Solutions Group, LLC.  All rights reserved.</p>
    </div>
  </div>
</footer>